<a href="https://colab.research.google.com/github/koppalamounika/nndl/blob/main/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
import seaborn as sns
from scipy import stats

In [28]:
# reading data
data = pd.read_excel("/content/drive/MyDrive/unioncarbide.xls")
data.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       34 non-null     float64
 1   Y       34 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 672.0 bytes

In [30]:
#finding missing values
data.isnull()

        X      Y
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False
11  False  False
12  False  False
13  False  False
14  False  False
15  False  False
16  False  False
17  False  False
18  False  False
19  False  False
20  False  False
21  False  False
22  False  False
23  False  False
24  False  False
25  False  False
26  False  False
27  False  False
28  False  False
29  False  False
30  False  False
31  False  False
32  False  False
33  False  False

In [31]:
#finding outliers
z = np.abs(stats.zscore(data))
print(z)

[[0.12500664 0.25847285]
 [1.13696519 0.56778404]
 [1.08934361 0.58597881]
 [0.32739835 0.8225109 ]
 [0.52979006 0.51319971]
 [0.27977677 0.00374598]
 [0.73218177 1.3501594 ]
 [0.68456019 0.85890045]
 [1.13696519 0.01444879]
 [0.32739835 0.85890045]
 [0.8869519  1.31376985]
 [1.3393569  1.02265344]
 [0.73218177 2.16892432]
 [0.27977677 0.6876555 ]
 [0.73218177 0.39653909]
 [0.68456019 1.12433013]
 [1.69651874 1.10613535]
 [1.13696519 1.22279597]
 [1.08934361 1.07723776]
 [0.48216848 0.22208329]
 [0.12500664 0.25847285]
 [2.30369386 0.07652509]
 [0.93457348 0.17820178]
 [0.48216848 1.63378385]
 [0.8869519  1.57919952]
 [0.07738507 0.5420973 ]
 [1.49412703 1.96128982]
 [0.52979006 0.32375998]
 [0.73218177 1.21530401]
 [1.69651874 1.72475773]
 [0.27977677 0.07652509]
 [1.94653203 0.46931819]
 [1.13696519 0.71334225]
 [0.73218177 1.01516147]]

In [32]:
f_data = data[(z < 3).all(axis=1)]
f_data.head()
df = data
for i in df:
    q = df[i].quantile(0.99)
    df[df[i] < q]
    q_low = df[i].quantile(0.01)
    q_hi  = df[i].quantile(0.99)

    df_filtered = df[(df[i] < q_hi) & (df[i] > q_low)]
df_filtered.head()

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

In [33]:
data = df_filtered
print(len(data))
print(len(df_filtered))
if(len(data) == len(df_filtered)):
    print('no outliers')

32
32
no outliers

In [34]:
# Normalization
data_n = data.copy()
data_n = (data_n - data_n.min())/(data_n.max() - data_n.min())
data_n.head()

          X         Y
0  0.428571  0.644970
1  0.190476  0.745562
2  0.714286  0.751479
3  0.380952  0.828402
4  0.333333  0.727811

In [35]:
# splitting data
train_data,test_data = train_test_split(data_n,test_size=0.1)
print(len(train_data))
train_data.head()

28

           X         Y
3   0.380952  0.828402
8   0.190476  0.556213
21  1.000000  0.585799
1   0.190476  0.745562
19  0.571429  0.633136

In [36]:
xa = np.array(train_data['X'])
ya = np.array(train_data['Y'])

In [52]:
# training the data using SGD algorithm

from sympy import Symbol, Derivative, symbols
m= Symbol('m')
c= Symbol('c')
function = '0.5*(y-m*x-c)**2'
partialderiv= Derivative(function, m)
dfm = partialderiv.doit()
partialderiv= Derivative(function, c)
dfc = partialderiv.doit()
err = [] 
m1 = -1.0 
c1 = 1.0  
itr = 100  
learning_rate = 0.1  
for i in range(0,itr):
    er =0
    for j in range(0,len(xa)):
        er +=  ((ya[j] - (m1 * xa[j]) - c1))**2
        m = symbols('m')
        c = symbols('c')
        x = symbols('x')
        y = symbols('y')
        dfmv = dfm.subs(m, m1) 
        dfmv = dfmv.subs(c, c1) 
        dfmv = dfmv.subs(x, xa[j]) 
        dfmv = dfmv.subs(y, ya[j]) 
        dfmv = round(dfmv,2)
        dfcv = dfc.subs(c, c1) 
        dfcv = dfcv.subs(m, m1) 
        dfcv = dfcv.subs(x, xa[j]) 
        dfcv = dfcv.subs(y, ya[j]) 
        dfcv = round(dfcv,2)
        dm = (-1.0)*learning_rate*dfmv
        dc = (-1.0)*learning_rate*dfcv 
        m1 = m1 + dm
        m1 = round(m1, 2) 
        c1 = c1 + dc
        c1 = round(c1, 2)
        er = (1/(2*len(train_data['X'])))*(er)
        err.append(er)
print("m amd c values are: ",m1, c1)
print("minimum value obtained at m = {} ,c = {}".format(m1,c1))

m amd c values are:  -0.31 0.73
minimum value obtained at m = -0.31 ,c = 0.73

In [53]:
# finding MSE
train_data_pred =  m1*train_data['X'] + c1
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(train_data['Y'],train_data_pred)
print("training data error is:",mse)

training data error is: 0.08702695557568049

In [54]:
# testing data error 
test_data_pred = m1 *test_data['X'] + c1
tmse = mean_squared_error(test_data['Y'],test_data_pred)
print("testing data error is :",tmse)

testing data error is : 0.029695512859163376

In [55]:
#prediction 
x_min = data['X'].min()
x_max = data['X'].max()
y_min = data['Y'].min()
y_max = data['Y'].max()

In [59]:
# predicting the output for given input
x =x1 = float(input("enter pH value of well water :"))
x = (x - x_min)/(x_max - x_min)
y = m1*x + c1
y = y*(y_max - y_min) + y_min
print(f"bicarbonates of well water based on its pH {x1} is : {y}")

enter pH value of well water :7.4
bicarbonates of well water based on its pH 7.4 is : 153.982584635417